/* .carousel-item {
    height: 100vh;
    min-height: 370px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
  /* .slider-img {
height: 800px;
width: 100%;
object-fit: cover
  } */